In [6]:
import pandas as pd
import numpy as np
from azure.storage.blob import BlobServiceClient, generate_blob_sas, BlobSasPermissions
from datetime import datetime, timedelta


STORAGE_ACCOUNT_KEY = "zCX45myj11PZblOec/ulzjj7WS0+6lJZFnNEMYCLHQoxkEQ9Cwvea7O7Kl5moBdMw6QYG7832teT+AStTkcD6w=="
STORAGE_ACCOUNT_NAME = "teamproject123"
CONNECTION_STRING = "DefaultEndpointsProtocol=https;AccountName=teamproject123;AccountKey=zCX45myj11PZblOec/ulzjj7WS0+6lJZFnNEMYCLHQoxkEQ9Cwvea7O7Kl5moBdMw6QYG7832teT+AStTkcD6w==;EndpointSuffix=core.windows.net"
CONTAINER_NAME = "sales-optimization"

In [7]:
blob_service_client = BlobServiceClient.from_connection_string(CONNECTION_STRING)
container_client = blob_service_client.get_container_client(CONTAINER_NAME)

blob_list = []

for blob in container_client.list_blobs():
    blob_list.append(blob.name)
    
for blob in blob_list:
    sas = generate_blob_sas(
                account_name=STORAGE_ACCOUNT_NAME,
                container_name= CONTAINER_NAME,
                blob_name=blob,
                account_key=STORAGE_ACCOUNT_KEY,
                permission=BlobSasPermissions(read=True),
                expiry=datetime.utcnow() + timedelta(hours=1)
    )
    sas_url = 'https://'+STORAGE_ACCOUNT_NAME+'.blob.core.windows.net/'+CONTAINER_NAME+'/'+blob+'?'+sas
    path = sas_url
    
path

'https://teamproject123.blob.core.windows.net/sales-optimization/data.csv?se=2023-12-15T13%3A25%3A36Z&sp=r&sv=2023-11-03&sr=b&sig=wmKGMw%2BBHXIIDMeCu3WAbnvtUPiq%2Bktf2mCV8dmFgsQ%3D'

In [8]:
df = pd.read_csv(path)
df

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
0,708746,916,103916,30-34,M,15,7350,1,1.430000,2,1
1,708749,916,103917,30-34,M,16,17861,2,1.820000,2,0
2,708771,916,103920,30-34,M,20,693,0,0.000000,1,0
3,708815,916,103928,30-34,M,28,4259,1,1.250000,1,0
4,708818,916,103928,30-34,M,28,4133,1,1.290000,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1138,1314410,1178,179977,45-49,F,109,1129773,252,358.189997,13,2
1139,1314411,1178,179978,45-49,F,110,637549,120,173.880003,3,0
1140,1314412,1178,179979,45-49,F,111,151531,28,40.289999,2,0
1141,1314414,1178,179981,45-49,F,113,790253,135,198.710001,8,2
1142,1314415,1178,179982,45-49,F,114,513161,114,165.609999,5,2